<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>YtkaOfficial</title>

  <link rel="icon" type="image/png"
        href="{{ url_for('static', filename='images/favicon.png') }}">

  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">
  <img src="{{ url_for('static', filename='images/title.png') }}" class="title-image">
  <h1>3 эпизод в 2026</h1>
</div>

<div class="basicimages">
  <img src="{{ url_for('static', filename='images/erdem.png') }}">
</div>

<div class="basicimages">
  <img src="{{ url_for('static', filename='images/newimage2.png') }}">
</div>

<div class="basicimages">
  <img src="{{ url_for('static', filename='images/image3.jpg') }}">
</div>

<div class="basicimages">
  <a href="https://www.youtube.com/watch?v=Ab31Sm6wZ-k&t=15s" target="_blank">
    <img src="{{ url_for('static', filename='images/image4.png') }}">
  </a>
</div>




<script>
  function updateBgOpacity() {
    const scrollTop = window.scrollY || window.pageYOffset;

    // после какого скролла начинать появление
    const start = 3300;   // пикселей от верха, можно менять
    const end   = 3560;  // к этому моменту фон уже полностью виден

    let opacity = 0;

    if (scrollTop <= start) {
      opacity = 0;  // до start фон полностью прозрачный
    } else if (scrollTop >= end) {
      opacity = 1;  // после end фон полностью видимый
    } else {
      // нормализуем в диапазон 0–1
      let t = (scrollTop - start) / (end - start);
      // ease-in: начинается медленно, потом быстрее
      opacity = t*t*t; // можно t*t*t для ещё мягче
    }

    document.documentElement.style.setProperty('--bg2-opacity', opacity);
  }

  window.addEventListener('scroll', updateBgOpacity);
  window.addEventListener('load', updateBgOpacity);
</script>
</body>